* {
    color: red;
    background-color:blanchedalmond
}

h1 {
    color: blue;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
}

h2 {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
    color: rgb(58, 141, 236);
}